torch==2.5.1
torchaudio==2.5.1
numpy<2
PySide6>=6.7,<7
soundfile>=0.12
tqdm>=4,<5
librosa>=0.11,<0.12
scipy>=1.17,<2
pretty_midi>=0.2.11,<0.3
mido>=1.3,<2
importlib_resources>=7,<8
adtof-pytorch @ git+https://github.com/xavriley/ADTOF-pytorch.git@85c192e78f716ea0b111cc8a5ee4a8f6a3a4f8a9
transkun==2.0.1
setuptools<81
beat-this==1.1.0
soxr>=1,<2
onnxruntime>=1.20,<2
einops>=0.8,<1
bs-roformer-infer[mlx] @ git+https://github.com/openmirlab/bs-roformer-infer.git@b0f1386fcced25f559f3e61c9f08a73cd9bddf80
PyYAML>=6,<7
basic-pitch>=0.4,<0.5
